body, html {
    height: 100vh; /* Ensure body and HTML cover the entire viewport */
    margin: 0; /* Remove default margins */
}

h2 {
    display: inline-block;
    margin: 0;
    margin-top: 5px;
    text-align:center; 
    padding:10px 5px;
    flex: 1;
}

#button-container {
    
    display: flex;
    justify-content: space-between; /* Centers items horizontally */
    align-items: center; /* Centers items vertically */
    text-align: center;
    
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns */
    grid-auto-rows: minmax(100px, auto); /* Automatic row height */
    grid-gap: 20px; /* Adjust the gap between grid items */
    height: 100%; /* Take up entire viewport height */
    padding: 10px; /* Optional padding */
    /* align-items: start; Align items at the start of the container */
    /* justify-items: start; Justify items at the start of the container */
}

.chart-container {
    /* position: relative; */
    display: flex;
    flex-direction: column;
    align-items: center; /* Align content in the center */
    justify-content: center; /* Align content in the center */
    border: 1px solid #ccc; /* Add borders for visualization */
    text-align: center;
    font-size: small;
}

canvas {
    /* Adjust canvas size if needed */
    border: 1px solid black; /* Add border for visualization */
}

/* Apply basic styles for the table */
#realtime_table {
    font-size: small;
    border-collapse: collapse;
    width: 100%;
    margin-top: -40px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

#map { 
    height: 100%; 
    width: 100%;
}
.scroll-container {
    width: 100%; /* Set the width of the container */
    overflow-x: auto; /* Enable horizontal scrolling */
}

#model {
    height: 100%;
    width: 100%;
}

h3, p {
    margin:0;
    padding:0;
}

/* CSS */
.button-4 {
  margin-right: 15px;
  margin-left: -135px;
  appearance: none;
  background-color: #FAFBFC;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292E;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
}

.button-4:hover {
  background-color: #F3F4F6;
  text-decoration: none;
  transition-duration: 0.1s;
}

.button-4:disabled {
  background-color: #FAFBFC;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959DA5;
  cursor: default;
}

.button-4:active {
  background-color: #EDEFF2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}

.button-4:focus {
  outline: 1px transparent;
}

.button-4:before {
  display: none;
}

.button-4:-webkit-details-marker {
  display: none;
}