body, html {
    height: 100vh; /* Ensure body and HTML cover the entire viewport */
    margin: 0; /* Remove default margins */
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns */
    grid-auto-rows: minmax(100px, auto); /* Automatic row height */
    grid-gap: 20px; /* Adjust the gap between grid items */
    height: 100%; /* Take up entire viewport height */
    padding: 20px; /* Optional padding */
}

.chart-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center; /* Align content in the center */
    justify-content: center; /* Align content in the center */
    border: 1px solid #ccc; /* Add borders for visualization */
    padding: 10px;
    text-align: center;
}

canvas {
    /* Adjust canvas size if needed */
    border: 1px solid black; /* Add border for visualization */
}

/* Apply basic styles for the table */
#realtime_table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

#map { 
    height: 100%; 
    width: 100%;
}
.scroll-container {
    width: 100%; /* Set the width of the container */
    overflow-x: auto; /* Enable horizontal scrolling */
}

#model {
    height: 100%;
    width: 100%;
}