<!DOCTYPE html>
<html>
<head>
    <title>SeaNav Dashboard</title>
    <!-- Include jQuery for handling DOM manipulations-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Include main css for displaying -->
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <!-- Include library and styling for alerts -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/css/iziToast.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/js/iziToast.min.js"></script>
    <!-- Styling for Location map -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
    <!-- Include map library for real-time location -->
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
    <!-- Processing IDE's js library to do display graphics -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.4.0/p5.js"></script>
    <!-- Include Chart.js for displaying data -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.3.2"></script>
    <script src="https://cdn.jsdelivr.net/npm/luxon@1.27.0"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-luxon@1.0.0"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-streaming@2.0.0"></script>
</head>
<body>
    <h2 style="text-align: center; font-family: Verdana, Geneva, Tahoma, sans-serif;">SeaNav</h2>
    <div class="grid-container">
        <div class="chart-container">
            <div id="map"></div>
        </div>
        <div id="model" class="chart-container">
        </div>
        <div class="chart-container">
            <canvas id="depthChart"></canvas>
        </div>
        <div class="chart-container">
            <!-- Table to display real-time data -->
            <table id="realtime_table">
                <caption><b>Real Time Data</b></caption>
                <thead>
                    <tr>
                        <th>Data Type</th>
                        <th>Value</th>
                        <th>Units</th>
                    </tr>
                </thead>
                <!-- Add Units to all real time measurements-->
                <tbody>
                    <tr>
                        <td>Time</td>
                        <td id="time"></td>
                        <td>[s]</td>
                    </tr>
                    <tr>
                        <td>Object Distance</td>
                        <td id="distance"></td>
                        <td>[cm]</td>
                    </tr>
                    <tr>
                        <td>X Angular Velocity</td>
                        <td id="xAngularVelocity"></td>
                        <td>[rad/s]</td>
                    </tr>
                    <tr>
                        <td>Y Angular Velocity</td>
                        <td id="yAngularVelocity"></td>
                        <td>[rad/s]</td>
                    </tr>
                    <tr>
                        <td>Z Angular Velocity</td>
                        <td id="zAngularVelocity"></td>
                        <td>[rad/s]</td>
                    </tr>
                    <tr>
                        <td>X Acceleration</td>
                        <td id="xAcceleration"></td>
                        <td>[m/s<sup>2</sup>]</td>
                    </tr>
                    <tr>
                        <td>Y Acceleration</td>
                        <td id="yAcceleration"></td>
                        <td>[m/s<sup>2</sup>]</td>
                    </tr>
                    <tr>
                        <td>Z Acceleration</td>
                        <td id="zAcceleration"></td>
                        <td>[m/s<sup>2</sup>]</td>
                    </tr>
                    <tr>
                        <td>Depth</td>
                        <td id="depth"></td>
                        <td>[cm]</td>
                    </tr>
                    <tr>
                        <td>Pressure</td>
                        <td id="pressure"></td>
                        <td>[hPa]</td>
                    </tr>
                    <tr>
                        <td>Temperature</td>
                        <td id="p-temperature"></td>
                        <td>[&deg;C]</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="chart-container" style="vertical-align: top;">
            <h3>Calibration Status</h3>
            <p>(0 = Not Calibrated, 3 = Calibrated)</p>
            <table id="realtime_table">
                <thead>
                    <tr>
                        <th>System</th>
                        <th>Gyro</th>
                        <th>Accel</th>
                        <th>Mag</th>
                    </tr>
                </thead>
                <!-- Add Units to all real time measurements-->
                <tbody>
                    <tr>
                        <td id="p-cal-sys"></td>
                        <td id="p-cal-gyro"></td>
                        <td id="p-cal-accel"></td>
                        <td id="p-cal-mag"></td>
                    </tr>
                </tbody>
            </table>
            <br>
            <div id="radar"></div>
        </div>
        <div class="chart-container scroll-container">
            <canvas id="imuChart"></canvas>
        </div>
        <!-- <div class="chart-container">
            <canvas id="position_history"></canvas>
            <p>Position History</p>
        </div> -->
    </div>
    <!-- Include main Javascript file -->
    <script src="{{ url_for('static', filename='index.js') }}"></script>
    <!-- Include JS file used for drawing radar map -->
    <script src="{{ url_for('static', filename='graphics.js') }}"></script>
</body>
</html>
